body{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{

    max-width: 600px;
    width: 500px;

}

.painel{

    background-color: grey;
    border-radius: 4px;
    padding: auto;
    box-shadow: 0 8px 12px rgb(60, 60, 60);
    animation: fadeIn 0.5s ease forwards;
    text-align: center;

}

/* esse fadeIn nao existe por isso temos que criar ele */

@keyframes fadeIn {

    from{
        opacity: 0;
        transition: translateY(-20px);
    }to{

        opacity: 1;
        transition: translateY(-20px);

    }

}

h1{

    color: black;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2.5rem;

}

table{

    margin: 20px auto;
    border-collapse: collapse;

}

td{

    width: 100px;
    height: 100px;
    border: 5px solid rgb(15, 4, 24);
    border-radius: 3px;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    transition: all 0.3 ease;

}

td:hover{

background-color: ghostwhite;
transform: scale(1.05);

}

button{

    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: greenyellow;
    border-radius: 5px;
    transition: background-color 0.3 ease

}