body {

    height: 100px;
    /* para na ter barra de rolagem */
    overflow: hidden;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{

    margin-top: 200px;
    width: 500px;
    height: 500px;
    perspective: 800px;

}

.card{

    height: 500px;
    width: 500px;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    position: relative;

}

.front-side, .back-side {

    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px gray;
    backface-visibility: hidden;
    position: absolute;
    margin-top: 200px;

}

.front-side{

    background-size: 100% 100%; 
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fjooinn.com%2Fimages%2Flamborghini-aventador-orange-5.jpg&f=1&nofb=1&ipt=4d9d9f3f0099c208e1a9f2b00a81d1abbd18b26b26c8733b287ab15cd966e52d&ipo=images) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;

}

.back-side{

    background-size: 100% 100%;
    background-color: black;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;

}

/* aqui vamos trabalhar na animaçao de flip */
.container:hover > .card {

    cursor: pointer;
    transform: rotateY(180deg);

}